argo-cd:  

  global:
    domain: argo-cd.united
    
  configs:
    cm: 
      create: true
      url: https://argocd.united

      application.instanceLabelKey: app.kubernetes.io/instance
      application.resourceTrackingMethod: label

    params:
      server.insecure: true
      
      applicationsetcontroller.enable.new.git.file.globbing: true

      oidc.config: |
        name: Keycloak 
        issuer: https://keycloak.united/realms/internal
        clientID: argo-cd
        clientSecret: $argocd-oauth2-credentials:oidc.keycloak.clientSecret
        requestedIDTokenClaims:
          groups:
            essential: true
        requestedScopes:
          - openid
          - profile
          - email
          - groups

    rbac:
      policy.csv: |
        g, argocd-admins, role:admin
      
      policy.default: role:readonly
      
      scopes: '[groups, email]'

  server:
    ingress:
      https: false
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: 4546b
        traefik.ingress.kubernetes.io/router.entrypoints: websecure

      tls: true

    volumeMounts:
      - mountPath: /etc/ssl/certs/trust-bundle.pem
        name: trustbundle
        subPath: trust-bundle.pem

    volumes:
      - name: trustbundle
        configMap:
          name: 4546b

  controller:
    volumeMounts:
      - mountPath: /etc/ssl/certs/trust-bundle.pem
        name: trustbundle
        subPath: trust-bundle.pem

    volumes:
      - name: trustbundle
        configMap:
          name: 4546b

  dex:
    volumeMounts:
      - mountPath: /etc/ssl/certs/trust-bundle.pem
        name: trustbundle
        subPath: trust-bundle.pem

    volumes:
      - name: trustbundle
        configMap:
          name: 4546b

  redis:
    volumeMounts:
      - mountPath: /etc/ssl/certs/trust-bundle.pem
        name: trustbundle
        subPath: trust-bundle.pem

    volumes:
      - name: trustbundle
        configMap:
          name: 4546b

  repoServer:
    volumeMounts:
      - mountPath: /etc/ssl/certs/trust-bundle.pem
        name: trustbundle
        subPath: trust-bundle.pem

    volumes:
      - name: trustbundle
        configMap:
          name: 4546b

  applicationSet:
    extraVolumeMounts:
      - mountPath: /etc/ssl/certs/trust-bundle.pem
        name: trustbundle
        subPath: trust-bundle.pem

    extraVolumes:
      - name: trustbundle
        configMap:
          name: 4546b

  notifications:
    extraVolumeMounts:
      - mountPath: /etc/ssl/certs/trust-bundle.pem
        name: trustbundle
        subPath: trust-bundle.pem

    extraVolumes:
      - name: trustbundle
        configMap:
          name: 4546b

  commitServer:
    extraVolumeMounts:
      - mountPath: /etc/ssl/certs/trust-bundle.pem
        name: trustbundle
        subPath: trust-bundle.pem

    extraVolumes:
      - name: trustbundle
        configMap:
          name: 4546b

  extraObjects:
    - apiVersion: argoproj.io/v1alpha1
      kind: ApplicationSet
      metadata:
        name: bootstrap
      spec:
        generators:
          - matrix:
              generators:
                - list:
                    elements:
                      - repoURL: https://github.com/wim-de-groot/4546B.git
                        revision: HEAD
                        repoPath: apps/*/*
                - git:
                    repoURL: "{{ `{{ repoURL }}` }}"
                    revision: "{{ `{{ revision }}` }}"
                    directories:
                      - path: "{{ `{{ repoPath }}` }}"
        template:
          metadata:
            name: "{{ `{{ path[1] }}-{{ path.basenameNormalized }}` }}"
            namespace: infra-system
          spec:
            project: default
            source:
              repoURL: "{{ `{{ repoURL }}` }}"
              targetRevision: "{{ `{{ revision }}` }}"
              path: "{{ `{{ path }}` }}"
            destination:
              server: https://kubernetes.default.svc
              namespace: "{{ `{{ path[1] }}` }}"
            syncPolicy:
              automated:
                prune: true
                selfHeal: true
              syncOptions:
                - CreateNamespace=true
                - ServerSideApply=true
                - RespectIgnoreDifferences=true
                - SkipDryRunOnMissingResource=true
              retry:
                limit: -1 # Infinite retries
                backoff:
                  duration: 30s
                  factor: 2
                  maxDuration: 5m
            ignoreDifferences:
              - group: "apps"
                kind: StatefulSet
                jsonPointers:
                  - /spec/volumeClaimTemplates
              - group: "apiextensions.k8s.io"
                kind: CustomResourceDefinition
                jsonPointers:
                  - /spec/conversion/webhook/clientConfig/caBundle
      
